body {
  background-attachment: fixed;
  background-image: url("../images/background.png");
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), url("../images/background.png");
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#board {
  background-color: #1E1E1D;
  border: 6px outset #1F2426;
  border-radius: 5px;
  height: 710px;
  left:50%;
  margin:0 auto;
  margin-left:-700px;
  margin-top:-360px;
  padding: 0;
  position: absolute;
  top:50%;
  width: 1400px;
}

#osc-group {
  float: left;
}

.oscillator {
  border: 5px outset #CCFFFF;
  border-radius: 5px;
  height: 200px;
  width: 1040px;
  margin-left: 20px;
  margin-top: 10px;
}

.effects {
  border: 5px outset #CCFFFF;
  border-radius: 5px;
  float: left;
  height: 435px;
  width: 234px;
  margin-left: 20px;
  margin-top: 10px;
}

.oscilloscope {
  border: 5px outset #CCFFFF;
  border-radius: 5px;
  height: 80px;
  width: 1330px;
  margin-left: 20px;
  margin-top: 10px;
}

.keyboard {
  float: left;
  height: 100px;
  width: 663px;
  margin-left: 20px;
  margin-top: 10px;
}

.fieldset-heading {
  color: #CCFFFF;
  font-size: 22px;
}

.sec-heading {
  color: #CCFFFF;
  font-size: 18px;
  margin-top: -5px;
  position: absolute;
  text-align: center;
}

.effects-sec-heading {
  color: #CCFFFF;
  font-size: 18px;
  margin-top: 15px;
  position: absolute;
  text-align: center;
  width: 234px;
}

#big-heading {
  width: 275px;
}

#small-heading {
  width: 250px;
}

.vertical-line {
  background-color: #CCFFFF;
  float: left;
  height: 160px;
  margin-left: 30px;
  margin-top: 10px;
  width: 1px;
}

.small-vertical-line {
  background-color: #CCFFFF;
  float: left;
  height: 90px;
  margin-left: 25px;
  margin-top: 15px;
  width: 1px;
}

.horizontal-line {
  background-color: #CCFFFF;
  height: 1px;
  margin-left: 20px;
  margin-top: 60px;
  width: 194px;
}

.delay-block {
  display: block;
  height: 120px;
  margin: 25px auto 0 auto;
}

.delay-knobs {
  float: left;
  height: 80px;
  margin-left: 77px;
  margin-top: 65px;
}

.rev-block {
  display: block;
  float: left;
  height: 120px;
  margin: 15px auto 0 auto;
}

.rev-buttons {
  float: left;
  height: 20px;
  margin-left: 15px;
  margin-top: 60px;
}

.rev-knobs {
  float: left;
  height: 80px;
  margin-left: 25px;
  margin-top: 30px;
}

.wave-buttons {
  float: left;
  height: 160px;
  margin-top: 30px;
  padding-left: 10px;
  width: 125px;
}

.wave-knobs {
  float: left;
  height: 160px;
  margin-left: 10px;
  margin-top: 25px;
  width: 80px;
}

.lfo-buttons {
  float: left;
  height: 160px;
  margin-left: 20px;
  margin-top: 30px;
  padding-left: 10px;
  width: 125px;
}

.lfo-knobs {
  float: left;
  height: 160px;
  margin-left: 10px;
  margin-top: 25px;
  width: 80px;
}

.env-knobs {
  float: left;
  height: 160px;
  margin-left: 30px;
  margin-top: 25px;
  width: 80px;
}

.filt-buttons {
  float: left;
  height: 160px;
  margin-left: 20px;
  margin-top: 30px;
  padding-left: 10px;
  width: 125px;
}

.filt-knobs {
  float: left;
  height: 160px;
  margin-left: 10px;
  margin-top: 25px;
  width: 80px;
}

.key-knobs {
  float: left;
  height: 100px;
  margin-left: 4px;
  margin-right: 10px;
  margin-top: 25px;
  width: 80px;
}

.knob-label {
  color: #CCFFFF;
  display: block;
  font-size: 14px;
  margin-bottom: -15px;
  position: relative;
  text-align: center;
  top: -33px;
  width: 100%;
}
